* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    
  }

  /* Default font size for 1920px width */
  :root {
    --base-font-size: 16px; /* Default base font size for 1920px */
  }


  @font-face {
    font-family: 'BOD_BI';
    src: url('../fonts/BOD_BI.TTF') format('truetype');
  }

  @font-face {
    font-family: 'BOD_B';
    src: url('../fonts/BOD_B.TTF') format('truetype');
    font-weight: bold; 
}

  /* Set font size for 1920px */
  html {
    font-size: 16px; /* 1rem = 16px by default */
    scroll-behavior: smooth;
  }
  
  body {
    font-size: var(--base-font-size); /* This will make 1rem = 16px */
    font-family: 'Barlow', sans-serif; 
    background: #ffffff;
    overflow-x: hidden;
  }
  

  /* Bold text for headings or any element */
  h1, h2, h3, h4, h5, h6, .bold-text {
    font-weight: 700;
    color: #e6b139;
    font-style: italic;
    font-family: 'BOD_BI', sans-serif;
  }
  
  /* Normal text for paragraphs */
  p {
    font-family: 'Barlow', sans-serif; /* Font for paragraphs */
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-size: 1.1rem;
  }
  
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    text-decoration: none
  }
  li {
    list-style: none;
  }
  section {
    padding: 60px 0;
    overflow: hidden;
  
  }
  
  .owl-carousel{
    position: relative;
  }
  
  .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  
  .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: -4rem;
     background: none;
    
  }
  .owl-carousel .owl-nav button.owl-prev:hover {
     background: none; 
  }
  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: -4rem;
     background: none;
  }
  .owl-carousel .owl-nav button.owl-next:hover {
    background: none; 
  }
    
  
  
  /* Mobile menu style starts here  */
  
  .mobileupper{
    overflow-x: hidden;
  }
  
  .mobileupper .col4{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobileupper img{
    height: 50%;
  }
  
  .mobileupper a{
    color: #414042;
    font-weight: 700;
    font-size: .9rem;
  }
  .overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
  }
  
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: #136c00;
  }
  .overlay .overlay-close {
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: transparent;
    z-index: 100;
  }
  .overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    overflow-y: scroll;
  }
  .overlay ul {
    padding: 1rem;
    margin-top: 2rem;
  }
  .overlay ul a{
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    display: inline-block;
    padding: 1rem;
  }
  .overlay ul .dropdown-menu a{
    color: #000;
  }
  .navbackground{
    background: url('../images/icons/navbackground.png');
    background-position: center center;
    background-repeat: no-repeat;
    border-bottom: 5px solid #e6b139;
  }
  
  /* Mobile menu style ENDs here  */
  
  
  /* COMMON CSS ENDS  */
  
.websiteLogo {
  width: 70%;
}
/* .desktopMenu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
} */
.desktopMenu nav{
  padding: 1rem 0;
}
.desktopMenu .nav-item{
  margin: auto 1rem;
}
#navbarNav{
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;

}
.desktopMenu a{
  color: #ffffff;
  text-transform: uppercase;
  font-family: 1.1rem;
  font-weight: 400;
}
.desktopMenu .activenav{
  color: #e6b139;

}
.desktopMenu a:hover{
  color: #e6b139;
}
.footernav a:hover{
  color: #e6b139;
}
.footernav .activenav{
  color: #e6b139;

}
#slider1{
  width: 100%;
  height: 100%;
  /* margin-top: 14rem; */
}
#slider1 .owl-carousel .item img {
  width: 100%;
  height: 100%; 
  object-fit: inherit;
  display: block;
  z-index: 1; 
  position: relative;
}
#slider1 img {
  width: 100%;
  height: 100%; 
  object-fit: inherit;
  display: block;
  z-index: 1; 
  position: relative;
}

.commonbackground{
  background: url('../images/commonbackground.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.heading-one{
  font-size: 4.1rem;
}  

.khainieHeading{
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
}

.spciatlingredients-bg{
  background: url('../images/special-ingredients-bg.jpg');
  background-position: bottom;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
}
.special-head{
  color: #ffffff;
  font-style: italic;
  font-size: 3rem;
  font-family: 'BOD_BI', sans-serif;
  text-transform: uppercase;
}
.ingredeintdiv {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  gap: 120px; /* Space between columns */
  padding: 20px;
}
.wholeSection{
  position: relative;
}
.ingredient-title{
  font-family: 'BOD_B', sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 900;
  margin: 0;
}
.left .ingredient-title {
  text-align: right;
}
.left .ingredient-description{
  text-align: right;
  font-size: 1rem;
}

.right .ingredient-title {
  text-align: left;
}
.right .ingredient-description{
  text-align: left;
  font-size: 1rem;
}
.left {
  display: flex;
  width: 100%;
  gap: 20px; 
}
.right {
  display: flex;
  width: 100%;
  gap: 20px; 
}
.text-content {
  width: 80%;
}


.image-content {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.image-content img {
  max-width: 150%;
  height: auto;
}
.abouticon{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.abouticon h2{
  margin-top: 1rem;
  font-size: 2rem;
}
.abouticon img{
  width: 160px;
  height: 160px;
}
.abouticon li{
  text-align: center;
  margin: 2rem;
}


.missionvission{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 40px;
}
.visiondiv{
  background: url('../images/visson.jpg');
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  border: 5px solid #e6b139;
  
}
.missiondiv{
  background: url('../images/misson.jpg');
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  border: 5px solid #e6b139;
  
}
.missionvission-content{
  position: absolute;
  bottom: 0;
  margin: 1rem;
}
.special-ingredient{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 16%; */
}
#counter{
  background: url('../images/counterbg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.counter{
  position: relative;
}
p.timer {
  color: white;
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  margin: 35px;
  margin-bottom: 20px;
}
p.timer::after {
  content: '';
  background: #e6b139;
  width: 30px;
  height: 2px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 40px;
}
p.count-text {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Barlow', sans-serif;
}
#footer{
  background: #136c00;
  border-top: 5px solid #e6b139;

}
#footer{
  padding: 60px 0;
  overflow: hidden;
}
.footer-title{
  color: #e6b139;
  border-bottom: 2px solid #e6b139;
  padding-bottom: 5px;
  display: inline;
  font-weight: 600;
  font-size: 1.8rem;
}
#footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer ul li{
  font-family: 'Barlow', sans-serif; /* Font for paragraphs */
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  font-size: 1.1rem;
}
#footer ul li a{
  color: #ffffff;
}
#footer .form-control-lg{
  background: transparent;
  border: none;
  border-bottom: 1px solid #e6b139;
  border-radius: 0;
  outline: none;
}

#footer input::placeholder {
  color: #ffffff; 
  font-size: 1.1rem;
}
.submitbtn{
  background: #e6b139;
  padding: 1rem 2.5rem;
  color: #fff;

}
.footernav{
  background: #00005f;
  padding: 2rem 0;
}
.footernav li a{
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}
.footernav .nav-item {
  margin: auto 1rem;
}
.copright{
  background: #e6b139;
  padding: 1rem;
}
.copyright-text{
  color: #00005f;
  font-size: 18px;
}
.spciatlingredients{
  display: flex;
  justify-content: space-between;
}   

.product-box {
  border: 5px solid #e6b139;
  position: relative;
  background: url('../images/khaini1.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0 50px 0;
  margin-top: 200px;
  margin-bottom: 40px;
}
.product-box img {
  border: none;
  transform: translateY(-50%);
  position: absolute;
  top: 5%;
  left: 5%;
}
.product-box-right {
  border: 5px solid #e6b139;
  position: relative;
  background: url('../images/khaini2.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0 50px 0;
  margin-top: 200px;
  margin-bottom: 40px;
}
.product-box-right img {
  border: none;
  transform: translateY(-50%);
  position: absolute;
  top: 5%;
  right: 5%;
}
.extra{
  padding: 60px 0 70px 0 !important;
  margin-top: 210px !important;

}
.extra-padding-left{
  padding-left: 6rem;
  padding-right: 3rem;
}
.extra-padding-right{
  padding-right: 5rem;

}
.spciatlingredients{
  padding-top: 200px;
}
input[type="text"] {
  color: #ffffff !important;  
}
  /** RESPONSIVE MEDIA QUERY **/
  
  /* Small screens, such as smartphones */
  @media (max-width: 767px) {
    html {
      font-size: calc(16px * 0.8); /* Smaller font for smaller screens */
    }
    .desktopMenu {
      display: none;
    }

    .owl-carousel .owl-nav button.owl-next {
      display: none;
    }

    #slider1 .owl-carousel .item img {
        height: 100%;
    }
    .heading-one{
      font-size: 2rem;
    } 
    .ingredeintdiv {
        display: grid;
        grid-template-columns: 1fr;
    }

    
    .ingredeintdiv .item:nth-child(2) {
        order: -1; 
    }


    .text-content, .image-content {
        width: 100%; /* Full width on mobile */
    }
    .missionvission {
      grid-template-columns: 1fr; /* 1 Column on mobile */
    }
    .special-ingredient{
      position: relative;
    }
    .left .ingredient-title {
      text-align: right;
    }
    .left .ingredient-description{
      text-align: right;
    }

    .exclusivediv{
      padding: 20px 0;
    }

    
    .extra-margin{
      margin-top: 0px;
    }
    .abouticon img {
        width: 60px;
        height: 60px;
    }
    .abouticon h2{
      font-size: 1rem;
    }

    .footernav .container{
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    .footernav .ulfirst{
      flex-direction: column;
      margin-top: 2rem;
      margin-bottom: 2rem;

    }
    .footernav li a{
      padding: 1rem 0;
    }
    .footernav ul{
      margin: 0;
      padding: 0;
    }
    .commonbackground{
      background-size: auto;
    }

    .spciatlingredients{
      flex-direction: column;
    } 
    .product-box {
      padding: 0;
      margin: 100px 0 35px 0;
      padding-top:100px;
      padding-right: 10px;
      padding-left: 10px;
      text-align: center;
    }
    .product-box img {
      top: 0%;
      width: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .product-box-right {
      padding: 0;
      margin: 100px 0 35px 0;
      padding-top:100px;
      padding-right: 10px;
      text-align: center;
    }
    .product-box-right img {
      top: 0%;
      width: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .extra{
      margin: 80px 0 35px 0!important;
      padding-top:120px!important;
      padding-bottom: 0px !important;
    }
    .ingredeintdiv{
      padding: 0px;
      gap: 0px;
    }
    .extra-padding-left{
      padding: 1rem;
    }
    .extra-padding-right{
      padding: 1rem;
    
    }
    .ingredeintdiv .item{
      padding: 2rem;
    }
    .ingredeintdiv2 .item2{
      padding: 1rem;
    }
    .spciatlingredients{
      padding: 2rem;
      text-align: center;
    }
    .product-box-right .ps-5{
      padding-left:12px !important;
    }
    .left {
      padding-left: 10px;
    }
    .right {
      padding-right: 10px;
    }
    .extra img{
      width: 60%;
    }
    .special-head{
      font-size: 2rem;
      text-align: center;
      padding-top: 1.8rem;
    }
    .mobile-special-ingredients{
      background: url('../images/special-ingredients-bg2.png');
      height: 45vh;
      background-position: center center;
      background-size: cover;
      position: relative;
      z-index: 1;
    }
    .ingredeintdiv2 .item2:first-child img {
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50%, -50%); 
        width: 40%; 
        z-index: 3;
    }
  
   
    .ingredeintdiv2 {
        margin-top: 140px; 
    }

    .right img{
      width: 80%;
    }
    .left img{
      width: 80%;
    }
    .left .text-content{
      width: 200%;
    }
    .right .text-content{
      width: 200%;
    }
  }
  
  /* Tablets in portrait mode */
  @media (min-width: 768px) and (max-width: 1023px) {
    html {
      font-size: calc(16px * 0.85); /* Slightly smaller font for tablets */
    }
    .desktopMenu{
      display: none;
    }
    .container{
      width: 80%;
    }
  
    #slider1 .owl-carousel .item img {
        height: 100%;
    }
    .heading-one{
      font-size: 2rem;
    }

    .ingredeintdiv {
      display: grid;
      grid-template-columns: 1fr;
    }

    
    .ingredeintdiv .item:nth-child(2) {
        order: -1; 
    }

    .text-content, .image-content {
        width: 100%; /* Full width on mobile */
    }
    .missionvission {
      grid-template-columns: 1fr; /* 1 Column on mobile */
    }
    .special-ingredient{
      position: relative;
    }
    .left .ingredient-title {
      text-align: right;
    }
    .left .ingredient-description{
      text-align: right;
    }

    
    .exclusivediv{
      padding: 20px 0;
    }

    .extra-margin{
      margin-top: 0px;
    }
    .abouticon img {
        width: 60px;
        height: 60px;
    }
    .abouticon h2{
      font-size: 1rem;
    }

    .footernav .container{
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    .footernav .ulfirst{
      flex-direction: column;
      margin-top: 2rem;
      margin-bottom: 2rem;

    }
    .footernav li a{
      padding: 1rem 0;
    }
    .footernav ul{
      margin: 0;
      padding: 0;
    }
    .commonbackground{
      background-size: auto;
    }

    .spciatlingredients{
      flex-direction: column;
    } 
    .product-box {
      padding: 0;
      margin: 100px 0 35px 0;
      padding-top:100px;
      padding-right: 10px;
      padding-left: 10px;
      text-align: center;
    }
    .product-box img {
      top: 0%;
      width: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .product-box-right {
      padding: 0;
      margin: 100px 0 35px 0;
      padding-top:100px;
      padding-right: 10px;
      text-align: center;
    }
    .product-box-right img {
      top: 0%;
      width: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .extra{
      margin: 80px 0 35px 0!important;
      padding-top:120px!important;
      padding-bottom: 0px !important;
    }
      .ingredeintdiv{
        padding: 0px;
        gap: 0px;
      }
      .extra-padding-left{
        padding: 1rem;
      }
      .extra-padding-right{
        padding: 1rem;
      
      }
      .ingredeintdiv .item{
        padding: 2rem;
      }
      .ingredeintdiv2 .item2{
        padding: rem;
      }
      .spciatlingredients{
        padding: 2rem;
        text-align: center;
      }
      .product-box-right .ps-5{
        padding-left:12px !important;
      }
      .left {
        padding-left: 10px;
      }
      .right {
        padding-right: 10px;
      }
      .extra img{
        width: 60%;
      }
      .special-head{
        font-size: 2rem;
        text-align: center;
        padding-top: 2rem;
      }
      .mobile-special-ingredients{
        background: url('../images/special-ingredients-bg2.png');
        height: 45vh;
        background-position: center center;
        background-size: cover;
        position: relative;
        z-index: 1;
      }
      .ingredeintdiv2 .item2:first-child img {
          position: absolute;
          top: 32%;
          left: 50%;
          transform: translate(-50%, -50%); 
          width: 40%; 
          z-index: 3;
      }
    
     
      .ingredeintdiv2 {
          margin-top: 140px; 
      }
  
      .right img{
        width: 80%;
      }
      .left img{
        width: 80%;
      }
      .left .text-content{
        width: 200%;
      }
      .right .text-content{
        width: 200%;
      }
  }
  
  /* Tablets in landscape mode and small desktops */
  @media (min-width: 1024px) and (max-width: 1399px) {
    html {
      font-size: calc(16px * 0.9); /* Base font size for small desktops */
    }
    .mobileMenu{
      display: none;
    }
    .container{
      width: 80%;
    }
    .heading-one{
      font-size: 3rem;
    }
  }
  
  /* Standard desktops and laptops */
  @media (min-width: 1400px) and (max-width: 1919px) {
    html {
      font-size: calc(16px * 0.95); /* Larger font size for standard desktops */
    }
    .mobileMenu{
      display: none;
    }

    .container{
      width: 80%;
    }
    .heading-one{
      font-size: 3rem;
    }
  }
  
  /* Large screens and high-resolution displays */
  @media (min-width: 1920px) {
    html {
      font-size: 16px; /* 1rem = 16px for 1920px screens */
    }
    .mobileMenu{
      display: none;
    }
    .container {
        max-width: 1440px;
        padding: 0;
    }
  }
  